<!-- Cabecera de botones -->
<div class="row mt-3">

  <!-- Botón para cargar TODOS los events -->
  <div class="col-12 col-sm-6 col-lg">
    <label class="btn d-block m-2" (click)="getAllEvents()"
           [ngClass]="{'btn-info': (pageState === 'all'), 'btn-outline-info': (pageState != 'all')}">
      <span *ngIf="loading.all" class="spinner-border spinner-border-sm" role="status">
        <span class="visually-hidden">Loading...</span>
      </span>
      <strong *ngIf="!loading.all"> Todos los Eventos </strong>
    </label>
  </div>

  <!-- Botón para cargar SOLO los eventos programados (no finalizados) -->
  <div class="col-12 col-sm-6 col-lg">
    <label class="btn d-block m-2" (click)="getAllEventsProgrammed()"
           [ngClass]="{'btn-success': (pageState === 'programmed'), 'btn-outline-success': (pageState != 'programmed')}">
      <span *ngIf="loading.programmed" class="spinner-border spinner-border-sm" role="status">
        <span class="visually-hidden">Loading...</span>
      </span>
      <strong *ngIf="!loading.programmed"> Eventos no finalizados </strong>
    </label>
  </div>

  <!-- Botón para borrar la lista de events -->
  <div class="col-12 col-sm-6 col-lg">
    <label class="btn d-block btn-outline-danger m-2" (click)="clearEventList()"
           [ngClass]="{disabled: (loading.all || loading.oneEvent || loading.programmed)}">
      <strong>Limpiar lista</strong>
    </label>
  </div>

</div>

<!-- Listado de events -->
<div class="row">
  <div class="col-12 col-sm-6 col-lg-4" *ngFor="let event of eventList; index as i">
    <div class="card my-2">

      <!-- Nombre del evento -->
      <h5 class="card-header text-center"> {{ event.title }} </h5>
      <div class="card-body">

        <!-- Descripción del evento -->
        <div class="row" style="min-height: 100px">
          <div class="col">
            <p *ngIf="event.description != '\n'"><em>{{ event.description }}</em></p>
            <p *ngIf="event.description === '\n'" class="text-center"><em>- Sin descripción -</em></p>
          </div>
        </div>
        <hr>

        <!-- Avatares de los usuarios -->
        <div class="row">
          <div class="col text-center">
            <img class="mx-1" [src]="picUrl" *ngFor="let picUrl of event.ownerPicUrlList; index as i"
                 data-bs-toggle="tooltip" data-bs-placement="top" [attr.title]="event.ownerNameList[i]"
                 [alt]="event.ownerNameList[i]" style="border-radius: 35%; max-height: 50px; max-width: 50px;">
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <small class="mx-1">Con
              <span *ngFor="let ownerName of event.ownerNameList; index as i">
                {{ ownerName }} {{ (i == event.ownerNameList.length-1)? '' : (i === event.ownerNameList.length-2)? ' y ' : ', ' }}
              </span>
            </small>
          </div>
        </div>
        <hr>

        <p [ngClass]="{'text-danger': (event.status === 'Finished'), 'text-success': (event.status === 'Programmed')}"
           class="text-center fw-bold">{{event.datetimeUTC.toLocaleString( 'es-ES', localeOptions)}}<br>
<!--          <small class="font-monospace"><em> {{ event.status === 'Finished'? '(Finalizado)' : '(Próximamente)' }} </em></small>-->
        </p>

      </div>

      <!-- Botón de ir al event -->
      <div class="card-footer text-center text-muted">
        <a href="{{ event.profileUrl }}" target="_blank">
          <button class="btn btn-primary m-2"> Ir al evento <i class="bi bi-box-arrow-up-right ps-2"></i></button>
        </a>
      </div>
    </div>

  </div>
</div>
