<nav id="sticky-navbar" class="navbar navbar-expand-md navbar-dark bg-dark static-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/img/announcement.svg" alt="" style="height: 50px;">
      <h5 class="d-inline ms-3">El Tablón de <span class="d-none d-sm-inline">Clubhouse</span><span class="d-inline d-sm-none">CH</span></h5>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" >
          <a class="nav-link" routerLink="/home" routerLinkActive="active" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/clubs" routerLinkActive="active" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Clubs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/events" routerLinkActive="active" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Eventos (salas)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
