<div class="container" id="circle-container">
  <div class="row mt-4">
    <div class="col-1 col-md-3"></div>
    <div class="col text-center">
      <h5 class="text-body fw-bold">Estamos trabajando duro para tener la web funcional lo antes posible mientras
        tanto se pueden ir realizando unas pruebas en los menús de Clubs y Eventos con unos poquitos datos que hemos
        introducido a mano.</h5>
    </div>
    <div class="col-1 col-md-3"></div>
    <div id="loading">
      <ul class="bokeh">
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
</div>
