<!-- Cabecera de botones -->
<div class="row mt-3">

  <!-- Botón para cargar TODOS los clubs -->
  <div class="col-12 col-sm-6 col-lg">
    <label class="btn d-block bg-gradient m-2" (click)="getAllClubs()"
           [ngClass]="{'btn-info': (pageState === 'all'), 'btn-outline-info': (pageState != 'all')}">
      <span *ngIf="loading.all" class="spinner-border spinner-border-sm" role="status">
        <span class="visually-hidden">Loading...</span>
      </span>
      <strong *ngIf="!loading.all"> Todos los Clubs </strong>
    </label>
  </div>

  <!-- Botón para cargar SOLO los clubs con eventos programados (no finalizados) -->
  <div class="col-12 col-sm-6 col-lg">
    <label class="btn d-block bg-gradient m-2" (click)="getAllClubsWithProgrammedEvents()"
           [ngClass]="{'btn-success': (pageState === 'programmed'), 'btn-outline-success': (pageState != 'programmed')}">
      <span *ngIf="loading.wEvents" class="spinner-border spinner-border-sm" role="status">
        <span class="visually-hidden">Loading...</span>
      </span>
      <strong *ngIf="!loading.wEvents"> Con eventos programados </strong>
    </label>
  </div>

  <!-- Botón para borrar la lista de clubs -->
  <div class="col-12 col-sm-6 col-lg">
    <label class="btn d-block btn-outline-danger m-2" (click)="clearClubList()"
           [ngClass]="{disabled: (loading.all || loading.oneClub || loading.wEvents)}">
      <strong>Limpiar lista</strong>
    </label>
  </div>

</div>

<div class="row" *ngIf="clubList.length === 0">
  <div class="col-12 col-sm-6 col-lg-4 text-center">
    <br>
    <em>-- No hay Clubs en esta vista --</em>
  </div>
</div>

<!-- Listado de clubs -->
<div class="row" *ngIf="clubList.length > 0">
  <div class="col-12 col-sm-6 col-lg-4 col-xxl-3" *ngFor="let club of clubList; index as i">
    <div class="card my-2">

      <!-- Nombre del club -->
      <a routerLink="/club/{{club.id}}" class="text-decoration-none text-muted"><h5 class="card-header fw-bold text-center text-capitalize"> {{ club.name.toLowerCase() }} </h5></a>
      <div class="card-body">

        <!-- Logo del club -->
        <img [src]="club.logoUrl" class="d-block mx-auto" [alt]="club.name"
             style="border-radius: 35%; max-height: 100px; max-width: 100px;">

        <div class="accordion accordion-flush" [id]="'accordionFlushClub-' + i">
          <!-- Descripción -->
          <div class="accordion-item">
            <h2 class="accordion-header" [id]="'flush-headingDesc-' + i">
              <label class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                     [attr.data-bs-target]="'#flush-collapseDesc-' + i" aria-expanded="false"
                     [attr.aria-controls]="'flush-collapseDesc-' + i">
                Descripción
              </label>
            </h2>
            <div [id]="'flush-collapseDesc-' + i" class="accordion-collapse collapse"
                 [attr.aria-labelledby]="'flush-headingDesc-' + i" [attr.data-bs-parent]="'#accordionFlushClub-' + i">
              <div class="accordion-body">
                <small class="card-text" style="white-space: pre-wrap"> {{ club.description }} </small>
              </div>
            </div>
          </div>

          <!-- Eventos programados -->
          <div class="accordion-item text-center">
            <h2 class="accordion-header " [id]="'flush-headingEvents-' + i">
              <label class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                     [attr.data-bs-target]="'#flush-collapseEvents-' + i" aria-expanded="false"
                     [attr.aria-controls]="'flush-collapseEvents-' + i">
                Eventos programados
                <small *ngIf="club.eventProgrammedList && club.eventProgrammedQty > 0"
                       class="badge rounded-pill bg-danger bg-gradient ms-2"> {{club.eventProgrammedQty}} </small>
              </label>
            </h2>
            <div [id]="'flush-collapseEvents-' + i" class="accordion-collapse collapse"
                 [attr.aria-labelledby]="'flush-headingEvents-' + i" [attr.data-bs-parent]="'#accordionFlushClub-' + i">
              <div class="accordion-body">
                <span *ngIf="club.eventProgrammedList && club.eventProgrammedQty > 0">
                  <a *ngFor="let event of club.eventProgrammedList; index as j"
                     href="https://www.joinclubhouse.com/event/{{ event }}" target="_blank">
                    <button class="btn btn-sm btn-info bg-gradient m-1 w-100" *ngIf="j < EVENTS_TO_SHOW">
                      {{ club.eventProgrammedNameList[j] }} <i class="bi bi-box-arrow-up-right my-auto mx-1"></i>
                    </button>

                  </a>
                  <!-- Botón de ver en detalles -->
                  <a routerLink="/club/{{club.id}}" class="link-info" *ngIf="club.eventProgrammedQty > EVENTS_TO_SHOW">
                    <span> Ver todos los eventos... </span>
                  </a>
                </span>
                <span *ngIf="!club.eventProgrammedList || club.eventProgrammedQty == 0">
                  <small>No hay eventos programados.</small>
                </span>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- Botónes del club -->
      <div class="card-footer text-center text-muted w-100">
        <!-- Botón de ir al club -->
        <div class="btn-group btn-group-sm w-100" role="group" aria-label="Botones del evento">
          <a routerLink="/club/{{club.urlId}}" class="col">
            <label class="btn btn-sm btn-primary bg-gradient m-2"><i class="bi bi-info-circle pe-1"></i> Más info </label>
          </a>
          <a href="{{ club.profileUrl }}" target="_blank" class="col">
            <label class="btn btn-sm btn-primary bg-gradient m-2"> Abrir en la app <i class="bi bi-box-arrow-up-right ps-1"></i></label>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
