/* You can add global styles to this file, and also import other style files */
html,
body {
  font-family: 'Nunito', sans-serif;
  height: 100%;
  background-color: rgba(242,239,228,1);
}

.pb-5rem {
  padding-bottom: 5rem !important;
}
